@import "tailwindcss";

@theme {
  --color-background: 0 0% 100%;
  --color-foreground: 240 10% 3.9%;

  --color-primary: hsl(261.9, 83.2%, 58%);
  --color-primary-foreground: 0 0% 100%;
  --color-primary-glow: 240 100% 70%;

  --color-secondary: 240 4.8% 95.9%;
  --color-secondary-foreground: 240 5.9% 10%;

  --color-muted: 240 4.8% 95.9%;
  --color-muted-foreground: hsl(240 3.8% 46.1%);

  --color-accent: 240 4.8% 95.9%;
  --color-accent-foreground: 240 5.9% 10%;

  --color-border: hsl(240 5.9% 90%);

  --shadow-elegant: 0 20px 40px -12px hsl(262 83% 58% / 0.25);

  --animate-float: float 3s ease-in-out infinite;

}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.main-container {
  margin: 0;
  text-align: center;
}